.carCard {
  width: 100%;
  max-width: 74.6rem;
  border: 1px solid var(--bg-color-header);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.carCard img {
  width: 100%;
  max-width: 39.1rem;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.carCard h3 {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--text-color-primary);
}

@media (max-width:490px) {
  .carCard h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}